<!doctype html>
<html ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <script src="js/angular.min.js" type="text/javascript"></script>
</head>
<body>
    <div ng-controller='myCtrl'>
        {{name || 'world'}}
        <ul>
            <li ng-repeat='phone in phones | filter:query | orderBy:orderProp'>{{phone.name}}</li>
        </ul>
        <button ng-click='add()'>{{phones.length}}</button>
        <p>Search:<input type='text' ng-model='query'/></p>
        <select ng-model='orderProp'>
            <option value="default">默认排序</option>
            <option value="name">按字母顺序</option>
            <option value="age">按年龄排序</option>
        </select>
        <p>排序是：{{orderProp == 'name'}}</p>
    </div>
</body>

    <script>
    var myApp = angular.module('myApp',[]);//初始化控制器
        myApp.controller('myCtrl',function($scope){
            $scope.name = 1;
            $scope.phones = [
                {"name": "Nexus S",
     "snippet": "Fast just got faster with Nexus S.",
    "age":0},
    {"name": "Ootorola XOOM™ with Wi-Fi",
     "snippet": "The Next, Next Generation tablet.",
    "age":1},
    {"name": "MOTOROLA XOOM™",
     "snippet": "The Next, Next Generation tablet.",
    "age":2}
            ];
            $scope.add = function(){
                $scope.name += 1;
            };
            $scope.orderProp = 'default';
        });
    </script>
</html>